
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    background-color: #192A32;
    justify-content: center;
    align-items: center;
}

.board {
    width: 420px;
    height: 420px;
    display: grid;
    gap: 15px;
    border-radius: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info, .tools {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 70px;
    gap: 10px;
}
.info div, .tools button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: center;
    border: none;
}

.cell {
    border: none;
    border-radius: 10px;
    background-color: #1F3540;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 85px;
    font-weight: 900;
    color: #EEAC34;
}

.cell:hover {
    background-color: #354d5b;
}
.cell:active {
    background-color: #1d2c34;
}


.unique {
    color: #3FCAC7;
}
.status, .retry {
    background-color: #A8BEC9;
    color: #1F3540;
}
.status {
    font-size: 20px;
    line-height: 1.5;
}

.retry:hover {
    background-color: #6e8996;
}
.retry:active {
    background-color: #4a5d66;
}
.players {
    font-size: 20px;
}
.score {
    font-size: 30px;
}

.two, .circle {
    color: #1F3540;
    background-color: #EEAC34;
}
.one, .cross {
    color: #1F3540;
    background-color: #3FCAC7;
}

.two:hover{
    background-color: #e2b45e;
}
.two:active {
    background-color: #bb8828;
}

.one:hover{
    background-color: #3be3e0;
}
.one:active{
    background-color: #319a98;
}
